<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="static/mv-drsugiyama.ico" type="image/x-icon">

    <title>Mohammed Vasim</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="static/styles.css">
    <style>
        @font-face {
            font-family: "Adobe Clean";
            src: url("static/AdobeCleanRegular.otf")format("opentype");
        }

        body {
            font-family: Adobe Clean, 'K2D', sans-serif;
        }
    </style>
</head>

<body>

    <!-- Navbar -->
    <!-- background-color: #3A8DEF; -->
    <nav class="navbar navbar-expand-lg" >
        <div class="container-fluid">
            <a class="navbar-brand text-dark" href="/">
                <h3><strong>PORTFOLIO</strong></h3>
            </a>
            <button class="navbar-toggler border border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a class="nav-link " href="#about">ABOUT</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="#contact">CONTACT</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="/resume">RESUME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#projects">PROJECTS</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                MORE
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">COMING SOON</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">ADMIN</a></li>
                            </ul>
                        </li>
    
                    </ul>
                
            </div>
        </div>
    </nav>
    <!-- Navbar end -->



    <!-- Apps section -->

    <div class="container" style="margin-top: 6rem;margin-bottom: 8rem; font-family: Adobe Clean, sans-serif;">


        <!-- Apps -->
        
        <div class="container my-5">
            <h1 class="text-center my-3" id="projects"><strong>PROJECTS</strong> </h1>
            <div class="row d-flex justify-content-center">
        
                <!-- App-1 -->
                <div class="card m-3 bg-light border-0 rounded-5 shadow-sm" style="width: 18rem;">
                    <div class="card-body mx-auto text-center">
                        <h3 class="card-title text-center"><strong>Alan AI</strong> </h3>
                        
                        <p class="card-text text-center"><i>AI Assistant - Chat with YouTube video, Research Paper, Website and any url.</i> </p>
        
                        <a href="https://mvasim-alanai.hf.space/alanai/" class="card-link text-decoration-none" target="_blank">Click to try</a>
                    </div>
                </div>
        
                <!-- App-2 -->
                <div class="card m-3 bg-light border-0 rounded-5 shadow-sm" style="width: 18rem;">
                    <div class="card-body mx-auto text-center">
                        <h3 class="card-title text-center"><strong>News Summarino</strong> </h3>
                        
                        <p class="card-text text-center"><i>News Summarizer - Provides you specific news with specific duration without going anywhere.</i> </p>
        
                        <a href="https://mvasim-newssummarino.hf.space/newssummarino/" class="card-link text-decoration-none" target="_blank">Click to try</a>
                    </div>
                </div>
        
                <!-- App-3 -->
                <div class="card m-3 bg-light border-0 rounded-5 shadow-sm" style="width: 18rem;">
                    <div class="card-body mx-auto text-center">
                        <h3 class="card-title text-center"><strong>ExplorePDF</strong> </h3>
                        
                        <p class="card-text text-center"><i>Allows you to insert any PDF and chat with it friendly.</i> </p>
        
                        <a href="https://explorepdf-izrxwjpynq-nn.a.run.app/explorepdf/" class="card-link text-decoration-none" target="_blank">Click to try</a>
                    </div>
                </div>
        
                <!-- App-4 -->
                <div class="card m-3 bg-light border-0 rounded-5 shadow-sm" style="width: 18rem;">
                    <div class="card-body mx-auto text-center">
                        <h3 class="card-title text-center"><strong>ExploreSheet</strong> </h3>
                        
                        <p class="card-text text-center"><i> Enables you to interact with your excel/csv files through chatting.</i></p>
        
                        <a href="https://mvasim-exploresheet-hf.hf.space/exploresheet/" class="card-link text-decoration-none" target="_blank">Click to try</a>
                    </div>
                </div>
        
                <!-- App-5 -->
                <div class="card m-3 bg-light border-0 rounded-5 shadow-sm" style="width: 18rem;">
                    <div class="card-body mx-auto text-center">
                        <h3 class="card-title text-center"><strong>Llama 2</strong> </h3>
                        
                        <p class="card-text text-center"><i>Experience with new open source GPT model of Meta, integrated and developed.</i></p>
        
                        <a href="https://mvasim-llama-2-hf.hf.space/llama2" class="card-link text-decoration-none" target="_blank">Click to try</a>
                    </div>
                </div>
        
                <!-- Fine Tuning Llama 2 -->
                <div class="card m-3 bg-light border-0 rounded-5 shadow-sm" style="width: 18rem;">
                    <div class="card-body mx-auto text-center">
                        <h3 class="card-title text-center"><strong>Fine Tuning Llama 2</strong> </h3>
                        
                        <p class="card-text text-center"><i>Fine Tuning Llama 2 with LoRA and Quantization using PEFT method.</i></p>
        
                        <a href="https://colab.research.google.com/drive/1Sjo84UNdsFnPwFfGWmwL76mQZUbv01OF?usp=sharing" class="card-link text-decoration-none" target="_blank"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Colab"></a>
                    </div>
                </div>

                <!-- GitHub -->
                <div class="card m-3 bg-light border-0 rounded-5 shadow-sm" style="width: 18rem;">
                    <div class="card-body mx-auto text-center">
                        <h3 class="card-title text-center"><strong>GitHub Repositories</strong> </h3>
                        
                        <p class="card-text text-center"><i>Amazing & Illustrated End to End Projects.</i></p>
        
                        <a href="https://github.com/92-vasim?tab=repositories" class="card-link text-decoration-none" target="_blank">Check out</a>
                    </div>
                </div>
        
            </div>
        </div>
        <!-- End apps -->
        
        </div>


    <footer class="py-3 shadow-sm bg-light mx-auto">
        <div class="icons d-flex justify-content-center">
            <span class="icons-span"><a href="https://github.com/92-vasim" target="_blank"><img src="/static/github.png"
                        class="mx-auto d-block icons-img" alt=""></a></span>
            <span class="icons-span "><a href="https://twitter.com/92_vasim" target="_blank"><img
                        src="/static/twitter.png" class="mx-auto d-block icons-img" alt=""></a></span>
            <span class="icons-span"><a href="https://api.whatsapp.com/send?phone=919620582081" target="_blank"><img
                        src="/static/whatsapp.png" class="mx-auto d-block icons-img" alt=""></a></span>
            <span class="icons-span"><a href="https://www.linkedin.com/in/92vasim/" target="_blank"><img
                        src="/static/linkedin.png" class="mx-auto d-block icons-img" alt=""></a></span>
        </div>
        <p class="text-center text-muted">
            mwaseembly92@gmail.com <br>
        </p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="/static/scripts.js"></script>
</body>

</html>